<form [formGroup]="formVehicle">
    <div>
        <table class="vehicles-table">
          <tr>
            <th>Name</th>
            <th>Branch</th>
            <th>Price</th>
            <th>Fuel</th>
            <th>Transmission</th>
          </tr>
          <tr>
            <td><input type="text" formControlName="name"></td>
            <td><input type="text" formControlName="branch"></td>
            <td><input type="number" formControlName="price"></td>
            <td><input type="text" formControlName="fuel"></td>
            <td><input type="text" formControlName="transmission"></td>      
          </tr>
          <tr>
            <td colspan="5">
              <div class="actions">
                <button type="button" (click)="update()" *ngIf="exists" [disabled]="!this.formVehicle.valid">Update</button>&nbsp;&nbsp;
                <button type="button" (click)="create()" *ngIf="!exists" [disabled]="!this.formVehicle.valid">New</button>
                <button type="button" (click)="delete()" *ngIf="exists">Delete</button>
              </div>      
            </td>
          </tr>
        </table>          
      </div>
</form>
