.container {
    width: 650px;
    .create-new {
        padding: 20px 5px;
        display: flex;    
        justify-content: flex-end;
    }
    .vehicles-table {
        border: 1px solid #000;        
        width: 100%;
        .header {
            font-weight: 700;
        }
        td {
            padding: 8px;
        }
    }
}
